#booking-box {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#booking-title {
  padding: 28px 0 14px 0;
}

#booking-picture > img {
  width: 40vw;
}

#booking-picture {
  padding: 15px 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.book-button {
  font-size: 28px;
  font-family: 'Yellowtail', cursive;
  padding: 14px 74px;
  border: 5px solid #C9DBE8;
  border-radius: 2.5%;
  color: rgb(98, 146, 182);
  background-color: rgba(255, 255, 255, 0.856);
  transition: transform .4s;
}

.book-button:hover {
  transform: scale(1.1);
}

#booking-description {
  font-size: 18px;
}

#booking-info {
  padding: 14px 0;
}
