<button type="button" id="test" class="book-button"> Dream this tonight </button>

<%= simple_form_for([@dream, @booking]) do |f| %>
  <%#= f.submit "Dream this tonight", class: "book-button" %>
<% end %>
