.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px;
  width: 100vw;
}

.bannertext h1 {
  margin: 0;
  font-size: 67px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
  font-family: 'Satisfy', cursive;
  text-shadow: 1px 1px 18px #ffffff;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 95px;
  right: 8px;
  color:rgba(134, 134, 134, 0.87);
}

.search-form-control .btn:hover {
  color: black;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.new-dream-button {
  margin-top: 38px;
  margin-left: 45vh;
  transition: transform .4s;
}

.new-dream-button:hover {
  transform: scale(1.1);
  color: #3f3d56;
  text-decoration: none;
}

.new-dream-button a:hover {
  color: #3f3d56;
  text-decoration: none;
}
