.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.61);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar h1 {
  color: rgb(116, 165, 255);
  font-size: 28px;
  font-family: 'Yellowtail', cursive;
}

.navbar {
  padding: 15px 50px;
}
